@charset "utf-8";
/* CSS Document */

html, body { margin:0px; padding:0px; background:url(../images/bg.jpg) repeat-x #e1e1e1; color:#717171; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; text-decoration:none; outline:none;}


img, a {border:none; text-decoration:none;}


.clear{clear:both;}

.outer{width:957px; height:auto; margin:0px auto; padding:0px inherit;}
.header {width:924px; height:auto; margin:0px auto; padding:0px inherit;}
.logo { width:250px; float:left; margin:20px 0px 7px 0px; padding:0px;}

#top_header {width:960px; height:85px; }	
.menu_bar { width:430px; height:20px; float:right; margin: 24px -2px 0 5px; }
.menu_bar ul{ list-style:none; padding:0px 5px 5px 0px; margin:0px; float:right; }
.menu_bar li{ font-family:Arial; font-size:11px; color:#707070; float:left; list-style:none; padding:2px 2px 2px 2px; float:left;}
.menu_bar a{ font-family:Arial; font-size:11px; color:#707070; text-decoration:none;}
.band {width:940px; height:32px; background:url(images/band.png); margin-left:12px;}
.menu_bar ul li ul{display:none;position:absolute;width:220px;z-index:9999}
.menu_bar ul li ul li{width:165px;height:9px;background:#FFFFFF;color:#152b75;border:1px solid #152b75;padding:12px;}
.menu_bar ul li ul li:hover, .menu_bar ul li ul li:hover a{background:#152b75;color:#FFF;}
.menu_bar ul li:hover ul{display:block;}	


.header_home { width:957px; margin:0px auto; padding:0px; background:url(../images/header.png) no-repeat; height:auto; position:absolute;}
.sine_inn_outer {width:285px; margin:15px 15px 0px 0px; float:right; background:url(../images/bg_home_fome.png) bottom no-repeat; padding-bottom:3px;}
.sine_inn {width:260px; float:right; background:#FFFFFF; padding:0px 0px 15px 15px;}
.sine_inn p { font-size:13px; color:#063379; font-weight:bold;margin:0px; padding:0px;}
.sine_inn h3 { font-size:15px; color:#222222; font-weight:bold;margin:0px; padding:0px; margin-top:5px;}
.sine_inn dfn a {color:#063379; text-decoration:underline; }
.enter {border:none; background:#e7e7e7; padding:10px; font-size:12px; color:#888888; width:225px; margin:10px 0px 5px 0px;}
.home_sub { float:right;  margin:20px 10px 0px 0px;}

.faq_home {background:#FFFFFF; padding:5px 5px 5px 5px; font-size:15px; margin-bottom:2px; width:266px; float:right;}
.faq_home ul {float:left; margin:0px ; padding:0px;}
.faq_home li { float:left;padding:5px 5px 5px 5px; list-style:none; color:#7d7d7d;}
.faq_home li a {color:#717072; }
.faq_home li a:hover {color:#073279; }
.contant_home_outer {width:924px;min-height:400px; margin:0px auto; padding:0px inherit; background:none;}

.product_outer {margin:370px 0px 0px 20px; width:630px; display:block; position:absolute; height:130px; }

.product { width:300px; float:left; margin-right:10px;}
.product_main {width:75px; float:left;}
.product a { color:#0072bc;}
.product span { color:#222222; font-weight:bold;}

.product_text {margin-bottom:5px;}


.login_outer {width:600px; float:right; font-size:12px; margin-bottom:3px;}

.login {margin:0px; padding:35px 0px 0px 0px;}
.login ul { margin:0px; padding:0px 0px 0px 0px; float:right;}
.login ul li { float:right; padding:0px 10px 5px 0px; list-style:none;}
.login ul li a { color:#717171;}
.login ul li a:hover{ color:#053379; }

.product_demo { margin:0px; padding:0px;}
.product_demo ul { margin:0px; padding:0px;display:block;float:right; }
.product_demo ul li { float:right; padding:0px 10px 5px 0px; list-style:none;}
.product_demo ul li a { color:#717171;}
.product_demo ul li a:hover{ color:#053379; }


.product_demo_2 { margin:0px; padding:0px;}
.product_demo_2 ul { margin:0px; padding:0px;display:block;float:right; margin-top:23px; }
.product_demo_2 ul li { float:right; padding:0px 10px 5px 0px; list-style:none;}
.product_demo_2 ul li a { color:#717171;}
.product_demo_2 ul li a:hover{ color:#053379; }


.filigere {width:924px; margin:0px auto; padding:0px inherit;}
.text_box {background:#053379; width:897px; height:auto;padding:14px 20px 14px 40px;font-size:16px; color:#FFFFFF;}
.text_box_2 {background:#007799; width:897px; height:auto;padding:14px 20px 14px 40px;font-size:16px; color:#FFFFFF;}

.contant_outer {width:924px;min-height:400px; margin:0px auto; padding:0px inherit; background:#FFFFFF;}

.menu {width:200px;float:left;}
.menu ul { font-size: 13px; margin:0px; padding:0px; list-style: none;}
.menu ul li {border-bottom:1px solid #eeeeee; text-align:right;}
.menu ul li a {display: block;text-decoration: none; color: #717072; padding:9px 10px 9px 0px;  margin-left: 1px; font-weight:bold;}
.menu ul li a:hover , .active{ background:url(../images/menu_hover.jpg); color:#ffffff; font-weight:bold;}
.menu ul li.active a{color:#FFFFFF;}


.contant_box {width:410px;min-height:380px; padding:20px 20px 0px 20px; border-left:1px solid #eeeeee;border-right:1px solid #eeeeee; float:left; }
.contant_box p {font-size:14px;}
.contant_box h2 {font-size:20px; color:#073279; font-weight:lighter;}

.faq_outer{width:250px; float:left; padding:10px;}

.faq_box {background:#dddfe0; padding:5px 5px 5px 5px; font-size:15px; margin-bottom:1px;}
.faq_box ul {float:left; margin:0px ; padding:0px;}
.faq_box li { float:left;padding:5px 5px 5px 5px; list-style:none; color:#7d7d7d;}
.faq_box li a {color:#717072; }
.faq_box li a:hover {color:#073279; }



.name {margin:0px; padding:0px; width:100%;}
.name ul {margin:0px; padding:0px;  overflow:hidden; margin-bottom:5px;}
.name li {float:left; margin:3px 1px 15px 1px; list-style:none;}



.box {background:#ececec; padding:10px; margin:10px 0px;}
.box span { color:#063379; font-size:20px;}
.box ul { margin:10px 0px 0px 0px; padding:0px; width:300px;}
.box li { list-style:none; float:left; width:145px; color:#333333; font-weight:bold; padding-bottom: 8px;}

.auther_card {margin:10px 0px;}
.auther_card span { color:#063379; font-size:20px;}
.auther_card ul { margin:10px 0px 0px 0px; padding:0px; width:300px;}
.auther_card li { list-style:none; float:left; width:145px; color:#333333; font-weight:bold;padding-bottom: 8px;}

.change_id {margin:10px 0px;}
.change_id span { color:#063379; font-size:20px;}
.change_id ul { margin:10px 0px 0px 0px; padding:0px; width:300px;}
.change_id li { list-style:none; float:left; width:145px; color:#333333; font-weight:bold;padding-bottom: 15px;}


.field {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888;}

.radia {margin:0px; padding:0px;}
.radia p { margin:0px; padding:0px;}

.line {height:1px; background:#eeeeee;}

.footer { width:100%; margin:0px auto; padding:0px inherit; background:url(../images/footer.png) top no-repeat #e7e7e7;}
.footer p { width:900px;font-size:9px; text-align:center; margin:0px auto; padding-top:20px;}




.first_name {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:85px;}
.second_name {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:60px;}
.last_name {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:85px;}

.card_no_1 {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:70px;}
.card_no_2 {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:90px;}
.card_no_3 {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:70px;}

.mm {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:48px; text-align:center;}
.yy {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:48px; text-align:center;}

.digit {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:107px;}

.change {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:300px;}

.label {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:250px;}

.form_submit {width:135px; float:right; text-align:center; }
.form_submit p {font-size:10px; margin:0px ;padding:0px; line-height:14px;}


.forgot_ouetr {padding:20px;}
.forgot_ouetr h2 { color:#063379; font-size:20px; margin:0px;}
.forgot_ouetr ul { margin:0px; padding:0px;}
.forgot_ouetr p { margin:10px 0px 10px 0px;}
.forgot_ouetr li { list-style:none; float:left; padding:0px 3px 0px 0px;}
.forgot_ouetr_1 {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:70px; text-align:center;}
.forgot_ouetr_2 {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:95px; text-align:center;}
.forgot_ouetr_3 {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:78px; text-align:center;}

.forgot_ouetr_conti { width:435px; float:left; margin:15px 0 0 0px;}
.forgot_ouetr_conti img { float:right;}

.choose {border:none; background:#e7e7e7; padding:4px; font-size:12px; color:#888888; width:260px;}
.security {border:none; background:#e7e7e7; padding:5px; font-size:12px; color:#888888; width:140px;}

.forgot_ouetr_sub { width:150px; margin:20px 0px 0px 430px;}
.forgot_ouetr_sub img { padding-left:15px;}
.forgot_ouetr_sub p {font-size:11px; line-height:14px; text-align:center; margin:0px;}

.forgot_ouetr span {color:#222222; font-weight:bold;}

.name_field {width:240px;  padding:5px;border:none; background:#e7e7e7;color:#999999; font-size:11px; margin-top:10px;}



